#
INFRA_ENV=dev

# Application Settings
NODE_ENV=development
SERVER_HOST=0.0.0.0
SERVER_PORT=50053
LOG_LEVEL=debug
LOG_FORMAT=text
SHUTDOWN_TIMEOUT=5000

# AWS Roles Anywhere Configuration
AWS_ROLES_ANYWHERE_ENABLED=false

# AWS Basic Settings
AWS_REGION=us-east-1

# AWS Roles Anywhere ARNs (Required when enabled)
# AWS_ROLES_ANYWHERE_PROFILE_ARN=arn:aws:rolesanywhere:us-east-1:123456789012:profile/a1b2c3d4-5678-90ab-cdef-example11111
# AWS_ROLES_ANYWHERE_ROLE_ARN=arn:aws:iam::123456789012:role/RolesAnywhereRole
# AWS_ROLES_ANYWHERE_TRUST_ANCHOR_ARN=arn:aws:rolesanywhere:us-east-1:123456789012:trust-anchor/a1b2c3d4-5678-90ab-cdef-example22222

# Certificate and Key Paths (Required when enabled)
# AWS_CERTIFICATE_PATH=./certs/client.pem
# AWS_PRIVATE_KEY_PATH=./certs/client.key

# Credential Helper Settings
AWS_CREDENTIAL_HELPER_PATH=./tools/aws_signing_helper.exe
AWS_SESSION_DURATION=3600
AWS_PROFILE_NAME=roles-anywhere
AWS_CREDENTIAL_REFRESH_MINUTES=30 
# helper serve
AWS_EC2_METADATA_SERVICE_ENDPOINT=http://127.0.0.1:1234

# S3 & CDN
FILE_S3_BUCKET_NAME=
FILE_CF_DISTRIBUTION_ID=

PG_USER=user
PG_PASSWORD=hehe
PG_HOST=localhost
PG_PORT=5432
PG_NAME=question
PG_URL=9

PG_URL=postgresql://user:hehe@localhost:5432/question?schema=public