# Environment
NODE_ENV=development

# Database Configuration
PG_HOST=localhost
PG_PORT=5432
PG_NAME=test_post_db
PG_USER=your_username
PG_PASSWORD=your_password

# Server Configuration
SERVER_PORT=3000 