*.d.ts
*.js
/node_modules
cdktf.out
.env
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
!scaffold.js
!prettier.config.js
coverage
dist



proto/

# env
.env.local

# 
local/

